
@model TechJobs.Models.Job

@{
// TODO #2.1- declare the ViewModel (outside of this @{ } block)
}

<table class="job-listing">


    <tr>
        <th><b>Name</b></th>
        <td>@Model.Name</td>
    </tr>

    <tr>
        <th><b>Employer</b></th>
        <td>@Model.Employer</td>
    </tr>
    <tr>
        <th><b>Location</b></th>
        <td>@Model.Location</td>
    </tr>
    <tr>
        <th><b>Core Competency</b></th>
        <td>@Model.CoreCompetency</td>
    </tr>
    <tr>
        <th><b>Position Type</b></th>
        <td>@Model.PositionType</td>
    </tr>

</table>